@charset "utf-8";

/* common */
html{
    font-size: 100%;
}

body{
    font-family: "Hiragino Kaku Gothuc proN", "メイリオ", "sans-serif";
    color: #684646;
    line-height: 1.5;
}

img{
    width: 100%;
}

.wrapper{
    max-width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}